h1{
	color: red;
	font-size: 50px;
}
img {
    display: block;
    margin-left: auto;
	margin-right: auto;
	height: 500px;
	
}
p{
	text-align: justify;
	color:white;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}
button {
	background-color: black;
	color: white;
	font-size: 20px;
}
body{
	background-color: black;
}
.books{
	text-align: center;
	display:none;
	/* display:none; */
}
/* .books.active{
	display:block;
} */

.end{
	display:none;
	text-align: center;
	font-size: 25px
}
